*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-size: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Bold.ttf') format(truetype);
    font-size: 400;
}

body{
    font-family: 'Poppins', sans-serif;


}